*{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}

#conteiner{
	}

/*menu topo*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu{
	border: 1px solid red;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(5px);
	box-shadow: 2px 2px 9px black;
	position: fixed;
}

#menu ul{
	width: 450px;
	height: 30px;
}

#lista-menu{
	width: 450px;
	height: 30px;
	margin: 10px auto 0 auto;
}


#menu ul li{
	margin-top: 4px;
	margin-left: 5px;
	padding: 5px;
	background-color: #fff;
	border-radius: 3px;
	float: left;
	}

/* personalizar conteudo*/
#conteudo{
	position: relative;
	top: 60px;
}