*{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}

#conteiner{
	max-width: 100%;
	min-width: 800px;
	}

/*menu topo*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu{
	
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(5px);
	box-shadow: 2px 2px 9px black;
	position: fixed;
	z-index: 1;
}

#menu ul{
	width: 425px;
	height: 35px;
}

#lista-menu{
	width: 450px;
	height: 30px;
	margin: 10px auto 0 auto;

}
#lista-menu ul{
	background: #fff;
	border-radius: 8px;
}



#menu ul li{
	display: block;
	margin-top: 4px;
	margin-left: 5px;
	padding: 5px;
	border-left: 1px solid #808080;
	float: left;
	}

#menu ul .primeiro{
	border: none;
}

#menu ul li a:hover{
	color: gainsboro;
}


#logo-menu{
	width: 120px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}

#menu img{
	width: 120px;
}


#endereco{
	width: 300px;
	height: 30px;
	color: white;
	margin-top: -30px;
	float: right;
}

#nome-loja1{
	font-size: 0.8em;
	font-weight: bold;
	color: yellow;
	text-transform: uppercase;
}

#endereco-loja1{
	font-size: 0.7em;
}


body.loja1 #menu ul li a#loja1,
body.conceito #menu ul li a#conceito,
body.aldeota #menu ul li a#aldeota,
body.motos #menu ul li a#motos,
body.repasse #menu ul li a#repasse{
	color: #808080;
	cursor: text;
}

/* personalizar conteudo*/
#conteudo{
	position: relative;
	top: 60px;
}

.card{
	border: 1px solid #000;
	width: 70%;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 9px;
	border-radius: 9px;
	z-index: 0;
	box-shadow: 8px 0px 0px 3px rgba(255, 255, 0, 0.6);
}

.card-ultimo{
	border: 1px solid #000;
	width: 70%;
	height: 120px;
	margin: 0 auto 150px;
	border-radius: 9px;
	z-index: 0;
	box-shadow: 8px 0px 0px 3px rgba(255, 255, 0, 0.6);
}

.card:hover, .card-ultimo:hover{
	background: #E6E8FA;
	cursor: pointer;
}

#nome-disponivel h4{
	text-align: center;
	padding: 20px;
}

/*estilizando card*/
#img-card img{
	border-radius: 9px 0 0 9px;
	float: left;
}


#nome-card h4{
	float: left;
	margin-left: -62px;
	margin-top: 50px;
}

#marca-card h6{
	color: red;
	float: left;
	margin-left: 22px;
	margin-top: 35px;
}

#ano-card{
	font-weight: bold;
	display: inline;
	padding: 3px;
	float: left;
	border-radius: 7px;
	background: yellow;
	margin-top: 40px;
	margin-left: 80px;
}

#cambio{
	font-weight: bold;
	display: inline;
	padding-left: 25px;
	float: left;
	background: url(../img/marcha.png) no-repeat left center;
	margin-top: 40px;
	margin-left: 40px;
}

#km{
	font-weight: bold;
	display: inline;
	padding-left: 25px;
	float: left;
	background: url(../img/painel.png) no-repeat left center;
	margin-top: 40px;
	margin-left: 40px;
}

#gas{
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	padding-left: 25px;
	float: left;
	background: url(../img/gas.png) no-repeat left center;
	margin-top: 40px;
	margin-left: 40px;
}


#valor-card{
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	padding: 10px 10px 10px 40px;
	float: left;
	background-color: yellow;
	border-radius: 15px;
	margin-top: 25px;
	margin-left: 80px;
}


#sifrao-card{
	position: absolute;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
	padding: 6px;
	float: left;
	color: #fff;
	background-color: red;
	border-radius: 30px;
	margin-top: 33px;
	margin-left: 82px;
}

/*RODAPE*/
#rodape{
	width: 100%;
	position: fixed;
	bottom: 0;
	color: #fff;
	font-size: 0.7em;
	text-align: center;
	margin-top: 60px;
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(5px);
	box-shadow: 2px 2px 9px black;
}

#rodape a{
	color: white;
}

#rodape a:hover{
	color: gray;
}


